.panel--register-exchange *{
    float:none !important;
}
body{
    margin-top:68px;
}
.button-group{
    margin-top:10px;
    text-align: center;
}
.panel--register-exchange .input-group, .panel--register-exchange .button-group{
    width: 60%;
    display: block;
    float:none;
    margin:0 auto;
    padding: 5px 0;
}
.ctn-addon{
    font-size: 0;
}

.input-group .ctn-addon span, .input-group .ctn-addon input{
    display: inline-block;
    height: 34px;
    vertical-align: top;
    font-size: 14px;
}
.input-group .ctn-addon span{
    width: 8%;
    vertical-align: middle;
    line-height: 22px;
}
.input-group .ctn-addon input{
    width: 92%;
}

.ctn-resumen label{
    width: 40%;
}
.ctn-resumen span{
    width: 59%;
}
.navbar{
    margin:0;
    padding:0;
}
.show-amount{
    font-size:18px;
    margin-top:10px;
    display: inline-block;
}


nav .col-md-2 .navbar a{
    font-size:14px;
}
@media only screen and (max-width: 992px) {
    body{
      margin-top:119px;  
    }
    .main-table{
        width: 100%;
    }
}

@media only screen and (max-width: 763px) {
    .panel--register-exchange .input-group, .panel--register-exchange .button-group{
        width: 100%
    }
    body{
      margin-top:165px;  
    }
}
.ctn-overflow-table{
    width: 100%;
    overflow: auto;
}